@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">OamCase</h1>
    <img src="~/image/pexels-photo-1055272.jpeg" class="rounded mx-auto d-block" style="width: 40%;">
    @*<img src="~/image/icon1.png" class="rounded mx-auto d-block" >
    <img src="~/image/icon2.png" class="rounded mx-auto d-block" >*@
</div>
