@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="card w-100">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
            <!-- Default form contact -->

            <form class="border border-light p-5" action="#!">
        <p>
            By clicking
            <em>Sign up</em> you agree to our
            <a href="" target="_blank">terms of service</a>
        </p>
        <hr />
        <div class="form-row mb-4">
            <div class="col">
                <!-- First name -->
                <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name">
            </div>
            <div class="col">
                <!-- Last name -->
                <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name">
            </div>
        </div>
        <!-- Name -->
        <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Name">

        <!-- Email -->
        <input type="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder="E-mail">

        <!-- Subject -->
        <label>Subject</label>
        <select class="browser-default custom-select mb-4">
            <option value="" disabled>Choose option</option>
            <option value="1" selected>Feedback</option>
            <option value="2">Report a bug</option>
            <option value="3">Feature request</option>
            <option value="4">Feature request</option>
        </select>

        <!-- Message -->
        <div class="form-group">
            <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Message"></textarea>
        </div>

        <!-- Copy -->
        <div class="custom-control custom-checkbox mb-4">
            <input type="checkbox" class="custom-control-input" id="defaultContactFormCopy">
            <label class="custom-control-label" for="defaultContactFormCopy">Send me a copy of this message</label>
        </div>

        <!-- Send button -->
        <button class="btn btn-info" type="submit">Send</button>
        <hr />

        <!-- Terms of service -->
        <p>
            By clicking
            <em>Sign up</em> you agree to our
            <a href="" target="_blank">terms of service</a>
        </p>
        </form>
        <!-- Default form contact -->
        </p>
    </div>
</div>
